.compareResult{
    width: 90%;
    min-height: 30vmin;
    display: inline-block;
    text-align: left;
}

.output{
    width: 100%;
    resize: none;
    min-height: 50vh;
}

.diffResult{
    width: 70%;
    display: inline-block;
    margin-right: 20px;
    min-width: 200px;
    /*float: left;*/
}

.diffCount{
width: 20%;
max-width: 250px;
min-width: 200px;
display: inline-block;
/*float: right;*/
}

.diffState{
    text-align: center;
}